/* My Hobby: Home Design */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #FFEFD5;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

header h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #8B4513
}

header p {
  line-height: 1.7;
  font-size: 16px;
  color: #333
 }
h2 {
  color: #8B4513;
  text-align: left;
}

/* Centered main image */
.centered-image img {
  display: block;
  margin: 25px auto;
  max-width: 100%;
  border-radius: 12px;
}
.gallery h2,
.list h2 {
  margin-top: 30px;
}

.photo-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.photo-row img {
  width: 100%;
  max-width: 490px;
  border-radius: 10px;
  }
/* list */
.list ul {
  margin-top: 10px;
  padding-left: 20px;
  border: 3px solid Tan;
  border-radius: 5px;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #666;
}